[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/zodiac"]
	path = lib/zodiac
	url = https://github.com/gnosis/zodiac
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/hats-auth"]
	path = lib/hats-auth
	url = https://github.com/Hats-Protocol/hats-auth
[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/Hats-Protocol/safe-contracts
