[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
optimizer_runs = 1_000_000
gas_reports = ["*"]
auto_detect_solc = false
solc = "0.8.17"
fs_permissions = [{ access = "read", path = "./"}]
remappings = [
  "solmate/=lib/solmate/src/",
  "forge-std/=lib/forge-std/src/",
  "ERC1155/=lib/ERC1155/",
  "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
  "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts",
  "@gnosis.pm/safe-contracts/contracts/=lib/safe-contracts/contracts/",
  "@gnosis.pm/zodiac/=lib/zodiac/contracts/",
  "solbase/=lib/solbase/src/",
  "zodiac/=lib/zodiac/contracts/",
  "hats-protocol/=lib/hats-protocol/src/"
]

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "attributes_first"
number_underscore = "preserve"
quote_style = "double"
tab_width = 4
wrap_comments = false

[rpc_endpoints]
arbitrum = "${ARBITRUM_RPC}"
ethereum = "${ETHEREUM_RPC}"
optimism = "${OPTIMISM_RPC}"
goerli = "${GOERLI_RPC}"
gnosis = "${GC_RPC}"
polygon = "${POLYGON_RPC}"

[etherscan]
arbitrum = {key = "${ARBISCAN_KEY}", url = "https://api.arbiscan.io/api"}
goerli = {key = "${ETHERSCAN_KEY}", url = "https://api-goerli.etherscan.io/api"}
ethereum = {key = "${ETHERSCAN_KEY}"}
optimism = {key = "${OPTIMISM_ETHERSCAN_KEY}", url = "https://api-optimistic.etherscan.io/api"}
polygon = {key = "${POLYGONSCAN_KEY}", url = "https://api.polygonscan.com/api"}
gnosis = {key = "${GNOSISSCAN_KEY}", url = "https://api.gnosisscan.io/api"}

# See more config options https://github.com/foundry-rs/foundry/tree/master/config